vendor
node_modules
out
coverage
*.vsix
.DS_Store
.nyc_output
.vscode-test
playground/.vscode
scripts/**
!scripts/generate-rules-schema.mjs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions