.github/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
pint-schema.json
scripts/**
playground/**
**/*.gif
node_modules/**
.yarn/**
*.vsix
